.faq{
    &__intro{

    }
    &__question{
        color: #000;
        &__header{
            font-size: 2em;
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
        }
        &__c{
            border-bottom: 1px dotted #ccc;
            padding: 1em 0;
        }
        &__t{
            line-height: 1em;
            color: #aaa; 
            font-family: sans-serif; 
            float:left; 
            font-weight: 700; 
            padding-right: 0.3em; 
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
        }
        &__q{
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 100;
        }
        &__a{
            clear: both;
            color: #666;
            display: none;
            padding-left: 1.5em;
        }
        &__o {
            transform: rotate(-45deg);
            transform-origin: 50% 50%;
            -ms-transform: rotate(-45deg);
            -ms-transform-origin: 50% 50%;
            -webkit-transform: rotate(-45deg);
            -webkit-transform-origin: 50% 50%;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            transition: all 200ms;
        }
    }
}

