// About
@media (max-width:1550px){
    .article{
        &__about{
            padding-left: 5%;
            width: calc(100%  - 1em);
        }
    }
    .project{
            &__title{
                h3{
                    height: auto;
                }
                div{
                    position: initial;
                    width: 800px;
                    margin: 0 auto;
                    p{
                        display: inline-block;
                        margin-left: 48px;
                    }
                    svg{
                        width: 7%;
                        display: inline-block;
                        &#quote_1{
                            position: initial;
                            top: 0;
                            left: 0;
                        }
                        &#quote_2{
                            position: initial;
                            margin-left: 100%;
                        }
                    }
                }
            }
        }
}
@media (max-width: 1400px){
    .project{
        &__besoin{
            .statistic{
                div{
                    p{
                        width: 80%;
                    }
                }
            }
        }
    }
    .article{
        &__about{
            .floatLeft{
                float: none;
                //display: inline-block;
                width: 720px;
                margin: 0 auto;
            }
            .floatRight{
                float: none;
                margin: 0 auto;
                width: 540px;
            }
        }
    }
    article{
        .ajax{
            .container{
                flex-direction: column;
                .show-data{
                    .show-image{
                        justify-content: space-around;
                        img{
                            width: 100%;
                        }
                    }
                    .show-text{
                        p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:1100px){
    .project{
        &__besoin{
            .statistic{
                flex-direction: column;
                div{
                    h4 span{
                        border-bottom: 10px solid $yellow;
                    }
                    width: 80%;
                    margin: 0 auto;
                    &+div{
                        margin-top: $spacing-elem*2;
                    }
                }
            }
        }
        &__objectif{
            flex-direction: column;
            h3{
                flex-basis: 100%;
               // margin-bottom: $spacing-elem;
            }
            p{
                flex-basis: 100%;
                &:first-of-type{
                    margin-top: 0;
                }
            }
        }
        &__stats{
            flex-direction: column;
            div{
                flex-basis: 100%;
                &:not(:last-of-type){
                    margin-bottom: $spacing-elem;
                }
                .stat{
                    width: 300px;
                }
                p{
                    width: 60%;;
                    margin:0 auto;
                }
            }
        }
    }
}
@media (max-width: 800px){
    .article{
        &__about{
            .floatLeft{
                width: 100%;
                p{
                    width: 100%;
                }
            }
        }    
    } 
}
@media (max-width:900px){
    .article{
        &__about{
            padding-left: 1em;
            width: calc(100% - 2em);
        }
    } 
}

// DropAndDown Menu
@media (max-width:1230px){
    .menu{
        width: 100%;
        text-align: center;
        &__home,
        &__agenda,
        &__don,
        &__actu,
        &__contact {
            width: 13% !important;
                &--hover{
                width: calc(100% - 24px) !important;
                }
            &__submenu{
                width:100%;
            }
        }
    }
    article{
        .donIntro{
            .container{
                width: 97%;
            }
        }
    }
}

// donsPage
@media (max-width:1000px){
    article{
        .donIntro{
            .container{
                margin: 0 auto;
                flex-direction: column;
                p{
                    margin-bottom: $spacing-unit*3;
                    width: 720px;
                }
            }
        }
    }
}

// Bouton INTRO
@media (max-width:900px){
    .article{
        &__intro{
            &:first-of-type{
                div{
                    width:500px;
                    .btn{
                        &:last-child{
                            margin-left: 140px;
                        }
                    }    
                }
            }
        }
        &__objectif{
            &__container{
            flex-direction: row;
            justify-content: space-between;
                &__item{
                    flex-direction: column;
                    flex-basis: 50%;
                    &:nth-child(3),
                    &:nth-child(4){
                        margin-top: $spacing-elem;
                    }
                }
            }
            p{
                width: 100%;
            }
        }
    }
}

// Parallax
@media (max-width:550px){
    article{
        section{
            padding: 5px;
        }
    }
}