@media (min-width: 320px) {
    html {
        font-size: 59%;
    }
}

@media(min-width:500px) {
    html {
        font-size: 70%;
    }
}

@media(min-width: 800px) {
    html {
        font-size: 80%;
    }
}

@media(min-width: 1200px) {
    html {
        font-size: 90%;
    }
}

@media(min-width: 1500px) {
    html {
        font-size: 100%;
    }
}