.menu {
    list-style: none;
    width: 1200px;
    text-transform: uppercase;
    margin: 0 auto;
    li,
    &__home,
    &__agenda,
    &__don,
    &__actu,
    &__contact {
        width: 210px;
        //background: rgba(0,0,0,0.7);
        color: white;
        position: relative;
        display: inline-block;
        text-align: center;
        //border: 1px solid white;
        padding: $spacing-unit;
        &--hover:hover {
            background: $red;
        }
        &__submenu {
            left: -0;
            position: absolute;
            top: 40px;  
            background-color: #484848;
            li{
                width: 210px;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}